{% extends 'base.html' %}
{% block heading %}
    <h1 class="stud_sign_up_title text-md-center text-info">SIGN UP FORM</h1>
    <h2 class="stud_sign_up_welcome text-md-center text-secondary">Welcome, fill in the fields to sign up as a student in the Online Examination System</h2>
{% endblock %}
{% block content %}
<div class="stud_sign_up_form text-md-center bg-warning px-md-5 py-md-5">
    <form>
    <label for="FirstName">First Name:</label>
        <input type="text" name="FirstName" id="FirstName" placeholder="Your First Name">
    <label for="MiddleName">Middle Name:</label>
        <input type="text" name="MiddleName" id="MiddleName" placeholder="Your Middle Name">
    <label for="LastName">Last Name:</label>
        <input type="text" name="LastName" id="LastName" placeholder="Your Last Name"><br><br>
    <label for="email">Email:</label>
        <input type="email" name="email" id="email">
    <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password"><br><br>
    <label for="PhoneNumber">Parent Phone Number:</label>
        <input type="number" name="PhoneNumber" id="PhoneNumber" placeholder="Your Phone Number">
    <label for="DateOfBirth">Date Of Birth:</label>
        <input type="date" name="DateOfBirth" id="DateOfBirth"><br><br>
    <label for="gender">Gender:</label>
    <label for="male">Male</label>
        <input type="radio" name="gender" id="male" checked>
    <label for="female">Female</label>
        <input type="radio" name="gender" id="female"><br><br>
        <input type="checkbox" name="subscribe" id="subscribe">
    <label for="subscribe">Subscribe for News and email updates</label><br><br>
    <input type="submit" value="Submit" name="submit" id="submit" class="btn btn-primary">
    </form>
</div>
<form action="">
        {% csrf_token %}  {# security feature mandatory #}
    {{ form.as_p}}  {# form embedded in template #}
    <button type="submit" name="submit">Submit</button>
</form>
{% endblock %}