{% extends 'base.html' %}
{% block heading %}
{% endblock %}
{% block content %}
    <div class="stud">
        <h1>Hello Student</h1>
        <p>and Welcome to Online Examination System</p><br>
        <p>Select any of them to access the system</p>
        <button class="btn btn-primary"><a href="http://127.0.0.1:8000/Users/StudentSignUp/" class="text-danger text-decoration-none">Create Your Account</a></button>
        <button class="btn btn-success"><a href="http://127.0.0.1:8000/Users/StudentLogin/" class="text-warning text-decoration-none">Login Now</a></button>
    </div>
{% endblock %}