{% extends 'base.html' %}
{% block heading %}
{% endblock %}
{% block content %}
    <form action="" class="stud_login bg-success text-md-center py-md-5 px-md-5">
    <label for="email">Email Address</label><br>
        <input type="email" name="email" id="email" placeholder="Your Email Address"><br><br>
    <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Password"><br><br>
    <input type="submit" name="submit" value="Log In" class="btn btn-danger">
    </form>
    <form action="" class="bg-secondary text-md-center py-md-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="submit" class="btn btn-info">Submit</button>
    </form>
{% endblock %}