{% extends 'base.html' %}
{% block heading %}
{% endblock %}
{% block content %}
<div class="teach">
    <h1>Hello teacher3,</h1>
    <p>Your Account has not been <strong>ACTIVATED</strong> yet</p>
    <p>Waiting for approval from the administrator</p>
    <p>and soon you will be able to access your account after approval</p>
    <hr>
    <button class="btn btn-info"><a href="http://127.0.0.1:8000/Users/TeacherLogIn/" class="text-decoration-none text-white">Log In</a></button>
    <button class="btn btn-warning"><a href="http://127.0.0.1:8000/Users/TeacherSignUp/" class="text-decoration-none text-secondary">Sign Up</a></button>
</div>
{% endblock %}