.cont{
    background-image: url("images/assessment5_home.jpeg");
    text-align: center;
    height: 100vh;
    padding-top: 16%;
}
.cont .tit1{
    color: white;
    font-size: 50px;
    font-weight: lighter;
}
.cont .para{
    color: white;
}
.cont button a{
    text-decoration: none;
    color: white;
}
.teach{
    text-align: center;
}
.stud{
    text-align: center;
}
.stud_sign_up_frm{
    background-color: black;
    text-align: center;
    color: white;
    padding: 40px;
}
form .teach_form{
    text-align: center;
    background-color: magenta;
    width: 50%;
}